<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang quản lý người dùng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <h1>Trang quản lý người dùng</h1>
    </div>
</header>
<main class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">STT</th>
            <th scope="col">ID</th>
            <th scope="col">Tên</th>
            <th scope="col">Email</th>
            <th scope="col">Tên đăng nhập</th>
            <th scope="col">Vai trò</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, userStat : ${users}">
            <td th:text="${userStat.index + 1}"></td>
            <td th:text="${user.id}"></td>
            <td th:text="|${user.firstname} ${user.lastName}|"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.role.role_name}"></td>
            <td th:text="${user.isDeleted ? 'Đã xóa' : 'Hoạt động'}"></td>
            <td>
                <a class="btn btn-primary" th:href="'/Users/edit/'+${user.id}">Edit</a>
                <a class="btn btn-danger" th:href="'/Users/delete/'+${user.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-success" onclick="location.href='/Users/new'">Tạo mới</button>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
