<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Role</title>
</head>
<body>
<form action="#" th:action="'/Roles/saveedit'" th:object="${role}" method="post">
    <table>
        <tr>
            <td>ID</td>
            <td>
                <input type="text" readonly="readonly" th:field="*{role_id}">
            </td>
        </tr>
        <tr>
            <td>Username</td>
            <td>
                <input type="text" th:field="*{role_name}">
            </td>
        </tr>
    </table>
    <input type="submit" value="Edit Role">
</form>
</body>
</html>