<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Role</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <form action="#" th:action="'/Roles/saveedit'" th:object="${role}" method="post">
        <div class="form-group row">
            <label for="role_id" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
                <input type="text" readonly="readonly" th:field="*{role_id}" class="form-control" id="role_id">
            </div>
        </div>
        <div class="form-group row">
            <label for="role_name" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{role_name}" class="form-control" id="role_name">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Edit Role" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
