<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang quản lý vai trò</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="bg-primary text-white text-center py-3">
  <div>
    Trang quản lý vai trò
  </div>
</header>

<div class="container my-4">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>STT</th>
      <th>ID Vai trò</th>
      <th>Tên Vai trò</th>
      <th>Trạng thái</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="role : ${roles}">
      <td th:text="${roleStat.index+1}"></td>
      <td th:text="${role.role_id}"></td>
      <td th:text="${role.role_name}"></td>
      <td th:text="${role.isDeleted ? 'Đã xóa' : 'Hoạt động'}"></td>
      <td>
        <a class="btn btn-sm btn-warning" th:href="'/Roles/edit/'+${role.role_id}">Edit</a>
        <a class="btn btn-sm btn-danger" th:href="'/Roles/delete/'+${role.role_id}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" onclick="location.href='/Roles/new'">Create</button>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
